Include {{ modsecurity_config_dir }}/modsecurity.conf
Include {{ modsecurity_config_dir }}/owasp-modsecurity-crs/crs-setup.conf
Include {{ modsecurity_config_dir }}/owasp-modsecurity-crs/rules/*.conf

# Removed SecRules:
{% for rule_id in modsecurity_secrule_remove %}
SecRuleRemoveById {{ rule_id }}
{% endfor %}

# SecAction entries:
{% for action in modsecurity_secactions %}
SecAction "{{ action }}"
{% endfor %}
